version: "3.9.1"

services:
  server:
    image: pihole/pihole:v5.8.1@sha256:d2f764c4531515a1b93d5a8d1d82272ddc961e580f19c84ed764e4fa863823b1
    # Pi-hole doesn't currently support running as non-root
    # https://github.com/pi-hole/docker-pi-hole/issues/685
    # user: "1000:1000"
    restart: on-failure
    network_mode: host
    volumes:
      - ${APP_DATA_DIR}/data/pihole:/etc/pihole/
      - ${APP_DATA_DIR}/data/dnsmasq:/etc/dnsmasq.d/
    environment:
      - FTLCONF_webserver_api_password=${APP_PASSWORD}
      - FTLCONF_webserver_port=8082,[::]:8082
      # Listen on all interfaces, permit all origins
      - FTLCONF_dns_listeningMode=all
    cap_add:
      - NET_ADMIN



